.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 9
  background: white
  &__wrapper
    display: flex
    align-items: center
    padding: 20px 0 10px

  &__logo
    flex: 0 0 auto

  &__search
    margin-left: auto
    width: 100%
    max-width: 270px
    margin-right: 35px


  &__notifications
    padding: 9px 30px 7px
    border-left: 1px solid $borderColor50
    border-right: 1px solid $borderColor50

  &__user
    margin-left: 35px



.header-notifications
  display: flex
  align-items: center
  cursor: pointer
  &__icon
    color: $colorRed
    font-size: 16px
  &__counter
    color: $colorRed
    font-size: 13px
    margin-left: 12px

.header-user
  position: relative
  display: flex
  min-height: 40px
  .avatar
    position: absolute
    top: 0
    left: 0
    pointer-events: none
    user-select: none
  &__toggle
    // avatar offset
    padding-left: 50px
    display: flex
    flex-direction: column
    justify-content: center
    font-size: 5px
    cursor: pointer
    color: $fontColorGray
