.ico-arrow-right {
  width: 0.58em;
  height: 1em;
  fill: #646C77;
}
.ico-back-arrow {
  width: 0.58em;
  height: 1em;
  fill: #2F417C;
}
.ico-bell {
  width: 0.88em;
  height: 1em;
  fill: #D02A2A;
}
.ico-check {
  width: 1.27em;
  height: 1em;
  fill: #FFF;
}
.ico-dropdown-arrow {
  width: 2em;
  height: 1em;
  fill: #646C77;
}
.ico-filter {
  width: 0.93em;
  height: 1em;
  fill: #646C77;
}
.ico-logo-small {
  width: 1em;
  height: 1em;
  fill: #646C77;
}
.ico-search {
  width: 0.94em;
  height: 1em;
  fill: #646C77;
}
.ico-select-arrow {
  width: 2em;
  height: 1em;
  fill: #646C77;
}
.ico-sh-email {
  width: 1.2em;
  height: 1em;
  fill: #646C77;
}
.ico-sh-id {
  width: 1.27em;
  height: 1em;
  fill: #646C77;
}
.ico-sh-name {
  width: 1.09em;
  height: 1em;
  fill: #646C77;
}
.ico-sh-person {
  width: 0.82em;
  height: 1em;
  fill: #646C77;
}
.ico-sh-phone {
  width: 1em;
  height: 1em;
  fill: #646C77;
}
.ico-t-calendar {
  width: 0.92em;
  height: 1em;
  fill: #646C77;
}
.ico-t-clock {
  width: 1em;
  height: 1em;
  fill: #646C77;
}
.ico-t-cname {
  width: 1.09em;
  height: 1em;
  fill: #646C77;
}
.ico-t-pencil {
  width: 1em;
  height: 1em;
  fill: #646C77;
}
.ico-t-status {
  width: 1.2em;
  height: 1em;
  fill: #646C77;
}
.ico-t-uen {
  width: 1.27em;
  height: 1em;
  fill: #646C77;
}
.ico-t-user {
  width: 0.82em;
  height: 1em;
  fill: #646C77;
}
